{{ with .Site.Params.map }}
<section class="widget">
    
    <h3 class="widget-title">我的位置</h3>
    <ul class="widget-list">
            {{ range . }}
            <li>
                <div id="allmap">
                        <!-- <script type="text/javascript"> window.BMap = BMap; </script> -->
                        <script  type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak={{ .ak }}"></script>
                        <script type="text/javascript">
                            // 百度地图API功
                            var map = new BMap.Map("allmap");
                            var point = new BMap.Point("{{ .lng }}", "{{ .lat }}");
                            var marker = new BMap.Marker(point);  // 创建标注
                            map.addOverlay(marker);              // 将标注添加到地图中
                            map.centerAndZoom(point, 15);
                            var opts = {
                                width : 50,     // 信息窗口宽度
                                height: 50,     // 信息窗口高度
                            }
                            var infoWindow = new BMap.InfoWindow("地址：上饶市信州区广信大厦A座3楼", opts);  // 创建信息窗口对象 
                            marker.addEventListener("click", function(){          
                                map.openInfoWindow(infoWindow,point); //开启信息窗口
                            });
                        </script>        
                </div> 
                            <!-- baiduMap -->
            </li>
            {{ end }}
        
    

    </ul>
</section>
{{ end }}